<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.board.BoardFreeMapper">
    <select id="BoardFreeList" resultType="com.example.demo.vo.board.BoardFreeVo">
        /*BoardFreeList*/
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
          FROM BOARD_FREE
         WHERE IS_DEL = 'N'
      ORDER BY BOARD_NO DESC
         LIMIT #{pageSize}
        OFFSET #{pageNum}        
    </select>

    <select id="BoardFreeListCount" resultType="int">
        /*BoardFreeListCount*/
        SELECT COUNT(*)
          FROM BOARD_FREE
         WHERE IS_DEL = 'N'
    </select>

    <select id="BoardFreeListDetail" resultType="com.example.demo.vo.board.BoardFreeVo">
        /*BoardFreeListGetOne*/
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
          FROM BOARD_FREE
         WHERE BOARD_NO = #{BoardNo}
    </select>

    <insert id="BoardFreeAdd" parameterType="com.example.demo.vo.board.BoardFreeVo">
        /*BoardFreeAdd*/
        INSERT INTO BOARD_FREE (
                        BOARD_NO
                       ,BOARD_TTL
                       ,BOARD_CNTN
                       ,CRT_DT
                       ,MOD_DT
                       ,REG_MEM_ID
                       ,IS_DEL)
              VALUES (
                        null
                       ,#{boardTtl}
                       ,#{boardCntn}
                       ,NOW()
                       ,NOW()
                       ,'ADDED MEM'
                       ,'N')
    </insert>
</mapper>