<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.board.BoardFreeMapper">
    <select id="boardFreeList" resultType="com.example.demo.vo.board.BoardFreeVo">
        /*boardFreeList*/
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
          FROM BOARD_FREE
         WHERE IS_DEL = 'N'
         <choose>                
            <when test='type.equals("제목")'>
                AND BOARD_TTL LIKE CONCAT('%',#{keyword},'%')
            </when>
            <when test='type.equals("작성자")'>
                AND REG_MEM_ID LIKE CONCAT('%',#{keyword},'%')
            </when>
            <when test='type.equals("내용")'>
                AND BOARD_CNTN LIKE CONCAT('%',#{keyword},'%')
            </when>
            <otherwise>
                AND (BOARD_TTL LIKE CONCAT('%',#{keyword},'%'))
                 OR (REG_MEM_ID LIKE CONCAT('%',#{keyword},'%'))
                 OR (BOARD_CNTN LIKE CONCAT('%',#{keyword},'%'))
            </otherwise>
        </choose>
      ORDER BY BOARD_NO DESC
         LIMIT #{pageSize}
        OFFSET #{pageNum}
    </select>

    <select id="boardFreeListCount" resultType="int">
        /*boardFreeListCount*/
        SELECT COUNT(*)
          FROM BOARD_FREE
         WHERE IS_DEL = 'N'
         <choose>                
            <when test='type.equals("제목")'>
                AND BOARD_TTL LIKE CONCAT('%',#{keyword},'%')
            </when>
            <when test='type.equals("작성자")'>
                AND REG_MEM_ID LIKE CONCAT('%',#{keyword},'%')
            </when>
            <when test='type.equals("내용")'>
                AND BOARD_CNTN LIKE CONCAT('%',#{keyword},'%')
            </when>
            <otherwise>
                AND (BOARD_TTL LIKE CONCAT('%',#{keyword},'%'))
                 OR (REG_MEM_ID LIKE CONCAT('%',#{keyword},'%'))
                 OR (BOARD_CNTN LIKE CONCAT('%',#{keyword},'%'))
            </otherwise>
        </choose>
    </select>

    <select id="boardFreeDetail" resultType="com.example.demo.vo.board.BoardFreeVo">
        /*boardFreeDetail*/
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
          FROM BOARD_FREE
         WHERE BOARD_NO = #{BoardNo}
    </select>

    <insert id="boardFreeAdd" parameterType="com.example.demo.vo.board.BoardFreeVo">
        /*boardFreeAdd*/
        INSERT INTO BOARD_FREE (
                        BOARD_NO
                       ,BOARD_TTL
                       ,BOARD_CNTN
                       ,CRT_DT
                       ,MOD_DT
                       ,REG_MEM_ID
                       ,IS_DEL)
              VALUES (
                        null
                       ,#{boardTtl}
                       ,#{boardCntn}
                       ,NOW()
                       ,NOW()
                       ,'ADDED MEM'
                       ,'N')
    </insert>

    <update id="boardFreeModify" parameterType="com.example.demo.vo.board.BoardFreeVo">
        /*boardFreeModify*/
        UPDATE BOARD_FREE
           SET BOARD_TTL = #{boardTtl}
              ,BOARD_CNTN = #{boardCntn}
        WHERE BOARD_NO = #{boardNo}
    </update>

    <update id="boardFreeDelete" parameterType="com.example.demo.vo.board.BoardFreeVo">
        /*boardFreeDelete*/
        UPDATE BOARD_FREE
           SET BOARD_TTL = '삭제된 글입니다'
              ,BOARD_CNTN = '삭제된 글입니다'
              ,REG_MEM_ID = 'UNKNOWN'
              ,IS_DEL = 'Y'
        WHERE BOARD_NO = #{boardNo}
    </update>

    <!-- 댓글 start -->
    
    <select id="freeReplyList" resultType="com.example.demo.vo.reply.ReplyFreeVo">
        /*freeReplyList*/
        WITH RECURSIVE REPLY_LAYER AS (
            SELECT REPLY_NO
                  ,BOARD_NO
                  ,REPLY_CNTN
                  ,UP_REPLY_NO
                  ,IS_DEL
                  ,REG_MEM_ID
                  ,CRT_DT
                  ,MOD_DT
                  ,CAST(REPLY_NO AS char(99)) ORDER_COL
                  ,0 AS DEPTH_LEVEL
              FROM REPLY_FREE
             WHERE UP_REPLY_NO IS NULL
               AND BOARD_NO = #{boardNo}
            UNION ALL
            SELECT B.REPLY_NO
                  ,B.BOARD_NO
                  ,B.REPLY_CNTN
                  ,B.UP_REPLY_NO
                  ,B.IS_DEL
                  ,B.REG_MEM_ID
                  ,B.CRT_DT
                  ,B.MOD_DT
                  ,CONCAT(C.ORDER_COL, '-', B.REPLY_NO) ORDER_COL
                  ,DEPTH_LEVEL + 1 AS DEPTH_LEVEL
              FROM REPLY_FREE B
        INNER JOIN REPLY_LAYER C 
                ON B.UP_REPLY_NO = C.REPLY_NO
             WHERE B.BOARD_NO = #{boardNo}
        )
        SELECT * 
          FROM REPLY_LAYER C
      ORDER BY ORDER_COL
    </select>

    <select id="freeReplyCount" resultType="int">
        /*freeReplyCount*/
        SELECT COUNT(*)
          FROM REPLY_FREE
         WHERE BOARD_NO = #{boardNo}
           AND IS_DEL = 'N'
    </select>

    <insert id="freeReplyAdd" parameterType="com.example.demo.vo.reply.ReplyFreeVo">
        /*freeReplyAdd*/
        INSERT INTO REPLY_FREE (
                        REPLY_NO
                       ,BOARD_NO
                       ,REPLY_CNTN
                       ,UP_REPLY_NO
                       ,DEPTH
                       ,IS_DEL
                       ,REG_MEM_ID
                       ,CRT_DT
                       ,MOD_DT
                       ,REPLY_PW)
              VALUES (
                        null
                       ,#{boardNo}
                       ,#{replyCntn}
                       ,#{upReplyNo}
                       ,1
                       ,'N'
                       ,#{regMemId}
                       ,NOW()
                       ,NOW()
                       ,#{replyPw})
    </insert>

    <update id="freeReplyModify" parameterType="com.example.demo.vo.reply.ReplyFreeVo">
        /*freeReplyModify*/
        UPDATE REPLY_FREE
           SET REPLY_CNTN = #{replyCntn}
         WHERE REPLY_NO = #{replyNo}
    </update>

    <update id="freeReplyDelete" parameterType="com.example.demo.vo.reply.ReplyFreeVo">
        /*freeReplyDelete*/
        UPDATE REPLY_FREE
           SET REPLY_CNTN = '삭제된 댓글입니다'
              ,IS_DEL = 'Y'
        WHERE REPLY_NO = #{replyNo}
    </update>

</mapper>