<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.example.demo.mapper.board.BoardMemberMapper"> 
    <select id="selectBoardList" resultType="com.example.demo.vo.board.BoardMemberVo"> 
    <![CDATA[
        SELECT BOARD_NO
              ,BOARD_TTL
              ,LEFT(REGEXP_REPLACE(BOARD_CNTN, '<(/)?(img|label|table|thead|tbody|tfoot|tr|td|p|br|div|span|font|strong|b)(.|\s|\t|\n|\r\n)*?>', ''),200) AS BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
              ,(SELECT COUNT(BOARD_NO)
                  FROM BOARD_MEM
                 WHERE IS_DEL = 'N') AS TOT_CNT
          FROM BOARD_MEM
         WHERE IS_DEL = 'N'
      ORDER BY MOD_DT DESC
      LIMIT #{startPage}, #{pageSize}
    ]]>
    </select> 

    <select id="selectBoardDtl" resultType="com.example.demo.vo.board.BoardMemberVo">
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
              ,(SELECT COUNT(BOARD_NO)
                  FROM BOARD_MEM
                 WHERE IS_DEL = 'N')
          FROM BOARD_MEM
         WHERE IS_DEL = 'N'
           AND BOARD_NO = #{boardNo}
    </select>

    <insert id="insertBoardDtl" parameterType="com.example.demo.vo.board.BoardMemberVo">
        <selectKey keyProperty="boardNoProperty" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT IGNORE INTO BOARD_MEM (
                                BOARD_NO
                               ,BOARD_TTL
                               ,BOARD_CNTN
                               ,CRT_DT
                               ,MOD_DT
                               ,REG_MEM_ID
                               ,IS_DEL
                              )
                      VALUES (
                               #{boardNo}
                               ,#{boardTtl}
                               ,#{boardCntn}
                               ,NOW()
                               ,NOW()
                               ,#{regMemId}
                               ,'N'
                             )
        ON DUPLICATE KEY UPDATE BOARD_NO = #{boardNo}
                                ,BOARD_TTL = #{boardTtl}
                                ,BOARD_CNTN = #{boardCntn}
                                ,MOD_DT = NOW()
                                ,IS_DEL = 'N'
    </insert>
</mapper>