<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.board.BoardFreeMapper">
    <select id="boardFreeList" resultType="com.example.demo.vo.board.BoardFreeVo">
        /*BoardFreeList*/
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
          FROM BOARD_FREE
         WHERE IS_DEL = 'N'
      ORDER BY BOARD_NO DESC
         LIMIT #{pageSize}
        OFFSET #{pageNum}
    </select>

    <select id="boardFreeListCount" resultType="int">
        /*BoardFreeListCount*/
        SELECT COUNT(*)
          FROM BOARD_FREE
         WHERE IS_DEL = 'N'
    </select>

    <select id="boardFreeDetail" resultType="com.example.demo.vo.board.BoardFreeVo">
        /*BoardFreeListGetOne*/
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
          FROM BOARD_FREE
         WHERE BOARD_NO = #{BoardNo}
    </select>

    <insert id="boardFreeAdd" parameterType="com.example.demo.vo.board.BoardFreeVo">
        /*BoardFreeAdd*/
        INSERT INTO BOARD_FREE (
                        BOARD_NO
                       ,BOARD_TTL
                       ,BOARD_CNTN
                       ,CRT_DT
                       ,MOD_DT
                       ,REG_MEM_ID
                       ,IS_DEL)
              VALUES (
                        null
                       ,#{boardTtl}
                       ,#{boardCntn}
                       ,NOW()
                       ,NOW()
                       ,'ADDED MEM'
                       ,'N')
    </insert>

    <update id="boardFreeModify" parameterType="com.example.demo.vo.board.BoardFreeVo">
        /*BoardFreeModify*/
        UPDATE BOARD_FREE
           SET BOARD_TTL = #{boardTtl}
              ,BOARD_CNTN = #{boardCntn}
        WHERE BOARD_NO = #{boardNo}
    </update>

    <!-- 댓글 start -->
    
    <select id="freeReplyList" resultType="com.example.demo.vo.reply.ReplyFreeVo">
        /*freeReplyList*/
        WITH RECURSIVE REPLY_LAYER AS (
            SELECT REPLY_NO
                  ,BOARD_NO
                  ,REPLY_CNTN
                  ,UP_REPLY_NO
                  ,IS_DEL
                  ,REG_MEM_ID
                  ,MOD_DT
                  ,0 AS DEPTH_LEVEL
              FROM REPLY_FREE
             WHERE UP_REPLY_NO IS NULL
               AND BOARD_NO = #{boardNo}
            UNION ALL
            SELECT B.REPLY_NO
                  ,B.BOARD_NO
                  ,B.REPLY_CNTN
                  ,B.UP_REPLY_NO
                  ,B.IS_DEL
                  ,B.REG_MEM_ID
                  ,B.MOD_DT
                  ,DEPTH_LEVEL + 1 AS DEPTH_LEVEL
              FROM REPLY_FREE B
        INNER JOIN REPLY_LAYER C 
                ON B.UP_REPLY_NO = C.REPLY_NO
             WHERE B.BOARD_NO = 1006
        )
        SELECT * 
          FROM REPLY_LAYER C
      ORDER BY MOD_DT DESC, 
               DEPTH_LEVEL
         LIMIT #{pageSize}
        OFFSET #{pageNum}
    </select>

    <select id="freeReplyCount" resultType="int">
        /*freeReplyCount*/
        SELECT COUNT(*)
          FROM REPLY_FREE
         WHERE BOARD_NO = #{boardNo}
           AND IS_DEL = 'N'
    </select>

    <insert id="freeReplyAdd" parameterType="com.example.demo.vo.reply.ReplyFreeVo">
        /*freeReplyAdd*/
        INSERT INTO REPLY_FREE (
                        REPLY_NO
                       ,BOARD_NO
                       ,REPLY_CNTN
                       ,UP_REPLY_NO
                       ,DEPTH
                       ,IS_DEL
                       ,REG_MEM_ID
                       ,CRT_DT
                       ,MOD_DT
                       ,REPLY_PW)
              VALUES (
                        null
                       ,#{boardNo}
                       ,#{replyCntn}
                       ,null
                       ,1
                       ,'N'
                       ,#{regMemId}
                       ,NOW()
                       ,NOW()
                       ,#{replyPw})
    </insert>

</mapper>