<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.example.demo.mapper.board.BoardMemberMapper"> 
    <select id="selectBoardList" resultType="com.example.demo.vo.board.BoardMemberVo"> 
    <![CDATA[
        SELECT BOARD_NO
              ,BOARD_TTL
              ,LEFT(REGEXP_REPLACE(BOARD_CNTN, '<(/)?(img|label|table|thead|tbody|tfoot|tr|td|p|br|div|span|font|strong|b)(.|\s|\t|\n|\r\n)*?>', ''),200) AS BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
              ,(SELECT COUNT(BOARD_NO)
                  FROM BOARD_MEM
                 WHERE IS_DEL = 'N') AS TOT_CNT
          FROM BOARD_MEM
         WHERE IS_DEL = 'N'
      ORDER BY MOD_DT DESC
      LIMIT #{startPage}, #{pageSize}
    ]]>
    </select> 

    <select id="selectBoardDtl" resultType="com.example.demo.vo.board.BoardMemberVo">
        SELECT BOARD_NO
              ,BOARD_TTL
              ,BOARD_CNTN
              ,CRT_DT
              ,MOD_DT
              ,REG_MEM_ID
              ,IS_DEL
              ,(SELECT COUNT(BOARD_NO)
                  FROM BOARD_MEM
                 WHERE IS_DEL = 'N')
          FROM BOARD_MEM
         WHERE IS_DEL = 'N'
           AND BOARD_NO = #{boardNo}
    </select>

    <insert id="insertBoardDtl" parameterType="com.example.demo.vo.board.BoardMemberVo">
        <selectKey keyProperty="boardNoProperty" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT IGNORE INTO BOARD_MEM (
                                BOARD_NO
                               ,BOARD_TTL
                               ,BOARD_CNTN
                               ,CRT_DT
                               ,MOD_DT
                               ,REG_MEM_ID
                               ,IS_DEL
                              )
                      VALUES (
                               #{boardNo}
                               ,#{boardTtl}
                               ,#{boardCntn}
                               ,NOW()
                               ,NOW()
                               ,#{regMemId}
                               ,'N'
                             )
        ON DUPLICATE KEY UPDATE BOARD_NO = #{boardNo}
                                ,BOARD_TTL = #{boardTtl}
                                ,BOARD_CNTN = #{boardCntn}
                                ,MOD_DT = NOW()
                                ,IS_DEL = 'N'
    </insert>

    <select id="selectReply" resultType="com.example.demo.vo.reply.ReplyVo">
        SELECT REPLY_NO
              ,BOARD_NO
              ,REPLY_CNTN
              ,UP_REPLY_NO
              ,DEPTH
              ,IS_DEL
              ,REG_MEM_ID
              ,CRT_DT
              ,MOD_DT
              ,(SELECT COUNT(1)
                  FROM REPLY_MEM B
                 WHERE B.REPLY_NO = A.UP_REPLY_NO
                ) AS REPLY_CNT
          FROM REPLY_MEM
         WHERE BOARD_NO = #{boardNo}
      ORDER BY REPLY_NO 
    </select>

    <select id="selectReplyMore" resultType="com.example.demo.vo.board.BoardMemberVo">
        SELECT  CONCAT(REPEAT('    ', level - 1), CAST(HI.REPLY_NO AS CHAR)) AS treeitem, UP_REPLY_NO, level
        FROM    (
                SELECT  hierarchy_connect_by_parent_eq_prior_id(REPLY_NO) AS REPLY_NO, @level AS level
                FROM    (
                        SELECT  @start_with := 6142,
                                @id := @start_with,
                                @level := 0
                        ) vars
                        , REPLY_MEM A
                WHERE   @id IS NOT NULL
                ) HO
        JOIN    REPLY_MEM HI
        ON      HI.REPLY_NO = HO.REPLY_NO
    </select>

    <insert id="insertReply" parameterType="com.example.demo.vo.reply.ReplyVo">
        INSERT INTO REPLY_MEM(
                                BOARD_NO
                               ,REPLY_CNTN
                               ,UP_REPLY_NO
                               ,DEPTH
                               ,IS_DEL
                               ,REG_MEM_ID
                               ,CRT_DT
                               ,MOD_DT
                              )
                        VALUES(
                                #{boardNo}
                               ,#{replyCntn}
                               ,#{upReplyNo}
                               ,'1'
                               ,'N'
                               ,#{regMemId}
                               ,NOW()
                               ,NOW()
                              )
    </insert>
</mapper>