<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.example.demo.mapper.board.BoardNoticeMapper">

    <!-- LIST -->
    <select id="boardNoticeListCount" resultType="int">
        SELECT COUNT(*)
        FROM BOARD_NOTICE
        WHERE IS_DEL = 'N'
    </select>

    <select id="boardNoticeList" resultType="com.example.demo.vo.board.BoardNoticeVo">
        SELECT BOARD_NO
                ,BOARD_TTL
                ,BOARD_CNTN
                ,CRT_DT
                ,MOD_DT
                ,REG_MEM_ID
                ,IS_DEL
        FROM BOARD_NOTICE
        WHERE IS_DEL = 'N'
        ORDER BY BOARD_NO DESC
        LIMIT #{pageSize}
        OFFSET #{pageNum}
    </select>

    <!-- WRITE -->
    <insert id="boardNoticeWrite" parameterType="com.example.demo.vo.board.BoardNoticeVo">
        INSERT INTO BOARD_NOTICE (
                        BOARD_TTL,
                        BOARD_CNTN,
                        CRT_DT,
                        MOD_DT,
                        REG_MEM_ID,
                        IS_DEL)
                VALUES (
                    #{boardTtl},
                    #{boardCntn},
                    NOW(),
                    NOW(),
                    #{regMemId},
                    'N')
    </insert>

    <!-- EDIT -->
    <update id="boardNoticeEdit">
        UPDATE BOARD_NOTICE
        SET board_ttl = #{boardTtl},
            board_cntn = #{boardCntn}
        WHERE board_no = #{boardNo}
    </update>
    
    <!-- VIEW -->
    <select id="selectOne" resultType="com.example.demo.vo.board.BoardNoticeVo"> 
        SELECT * FROM BOARD_NOTICE
        WHERE board_no = #{boardNo} AND is_del = 'N'
    </select>

    <!-- DELETE -->
    <update id="delOne">
        UPDATE BOARD_NOTICE
        SET is_del = 'Y'
        WHERE board_no = #{boardNo}
    </update>

    <!-- REPLY_COUNT -->
    <select id ="noticeReplyCnt" resultType="int">
        SELECT COUNT(*) FROM REPLY_NOTICE
        WHERE board_no = #{boardNo} AND is_del = 'N'
    </select>

    <!-- REPLY_LIST -->
    <select id="noticeReplyList" resultType="com.example.demo.vo.reply.ReplyVo">
        SELECT REPLY_NO
              ,BOARD_NO
              ,REPLY_CNTN
              ,UP_REPLY_NO
              ,IS_DEL
              ,REG_MEM_ID
              ,CRT_DT
              ,MOD_DT
        FROM REPLY_NOTICE
        WHERE board_no = #{boardNo} AND is_del = 'N'
        ORDER BY crt_dt desc
    </select>

    <!-- REPLY_WRITE -->
    <insert id="noticeReplyWrite" parameterType="com.example.demo.vo.reply.ReplyVo">
        INSERT INTO REPLY_NOTICE(
                        BOARD_NO,
                        REPLY_CNTN,
                        UP_REPLY_NO,
                        IS_DEL,
                        REG_MEM_ID,
                        CRT_DT,
                        MOD_DT
                        )
                VALUES (
                    #{boardNo},
                    #{replyCntn},
                    #{upReplyNo},
                    'N',
                    #{regMemId},
                    NOW(),
                    NOW()
                )
    </insert>
    
    <!-- REPLY_EDIT -->
    <update id="noticeReplyEdit">
        UPDATE REPLY_NOTICE
        SET reply_cntn = #{replyCntn}
        WHERE reply_no = #{replyNo}
    </update>

    <!-- REPLY_DELETE -->
    <update id="noticeReplyDel">
        UPDATE REPLY_NOTICE
        SET is_del = 'Y'
        WHERE reply_no = #{replyNo}
    </update>

</mapper>